<h2>Sign up</h2>

<%= form_for @user do |f| %>

<p><label for="imie">Imię</label>:<br/>
  <%= f.text_field :imie %></p>

  <p><label for="nazwisko">Nazwisko</label>:<br/>
  <%= f.text_field :nazwisko %></p>

  <p><label for="adres">Adres</label>:<br/>
  <%= f.text_area :adres, :rows => 3, :cols => 40 %></p>

  <p><label for="email">E-mail</label>:<br />
  <%= f.text_field :email %></p>

  <p><label for="password">Hasło </label>:<br />
  <%= f.password_field :password %></p>

  <p><label for="password_confirmation">Powtórz hasło</label>:<br />
  <%= f.password_field :password_confirmation %></p>

  -------------TEMP------------- <br />
  Admin?: <%= f.check_box :admin %> <br />
  Klient?: <%= f.check_box :klient %> <br />
  Recepcja? <%= f.check_box :recepcja %> <br />
  -------------TEMP-------------

  <p><%= f.submit "Sign up" %></p>
<% end %>

