<h2>Zaloguj się do systemu</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Zaloguj się" %></p>
<% end %>

<h2><%= link_to "Lub przeglądaj samochody jako gość", cars_path %><br />

<%# render :partial => "devise/shared/links" %>