<h1><%= @car.marka %></h1>
<p>
	Pojemność silnika (cm3): <%= @car.poj_silnika %><br/>
	Typ silnika: <%= @car.typ_silnika %><br />
	Liczba osób: <%= @car.liczba_osob %>
</p>
<%= link_to "Powrót", :back %>