<!DOCTYPE html>
<html>
<head>
  <title>Wypozyczalnia</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %><br />
<% if flash[:notice] %>
    <div id="flash_notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
    <div id="flash_error"><%= flash[:error] %></div>
<% end %>

</body>
</html>
